header{
    background: aqua;
}
nav{
    background: aqua;
    color:black;
}
section{
    float: left;
    background-color: white;
    
}
aside{
    float: left;
    background-color: yellow;
}
footer{
    
    background-color :violet ;
    color :white;
}
.contenedor::after{
    content: "";
    display: block;
    clear: both;
}