


body{ 
    font-family: Poppins, Serif; 
} 

.imagencabecera{ 
  float: right;
width: 40%;
}

 .temas{ 
      font-weight: bold; 
 }

 .logo{ 
     float: left;
  width: 100%;

 }

  .menu_Contenedor{ 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background-color: rgba(190, 71, 23, 0.932); 
  height: 50px; 
  width: 100%; 
  border-bottom: 2px solid rgb(235, 163, 8); 
} 
.subtemas{ 
  position: absolute; 
display: none; 
 background: rgba(214, 159, 8, 0.849);    
  border: none; 
} 

.a-tema{ 
   color: black; 
} 

.lis-subtema{ 
  position: relative; 
  list-style: none; 
   text-align: center; 
} 

 .temas .a-tema{ 
   text-decoration: none; 
  text-transform: uppercase; 
  display: flex; 
  line-height: 70px; 
  padding: 0 15px; 
}

.index-imagen{ 
 float:right;
width: 40%;
padding:10px 50px;
}
.index-imagen2{ 
 float:right;
width: 28%;
padding:0px 150px;

height: 350px;
}
.fotoestudiant{ 
 float:right;
width: 20%;
padding:20px 50px;
margin-left: 15px;
}

.autor{ 
   margin-left: 15px; 
} 

.a-tema:hover{ 
   color: white; 
} 

 .temas:hover .subtemas{ 
   display: flex; 
  flex-direction: column; 
  color:white; 
  transition: .4ms; 
} 

 .lis-subtema{ 
   border-bottom: 2px solid rgb(235, 163, 8); 
   padding: 0 15px; 
  text-align: center; 
} 

.lis-subtema:hover{ 
  background-color: #FCF3CF; 
} 

 .lis-subtema a{ 
   text-decoration: none; 
display: flex; 
padding:15px 0; 
   color: black; 
  line-height: unset; 
   white-space: nowrap; 
} 

.normasapa
{ 
 text-align: justify;
 font-style: italic; 
} 
.parrafo
{ 
 text-align: justify; 
} 
main{ 
  display: flex; 
} 



header {
 background-color: white;

 
}
nav{
 background-color: darkcyan;
 padding: 10px;
}
section{
 width: 75%;
 float: left;
 background-color: white;
 text-justify:distribute;
 
}
.section2{
 width: 75%;
 float: left;
 background-color: white;
 text-justify:center;
 width: 100%

}


aside{
 width: 25%;
 float:right;
 background-color:rgb(4, 22, 7);

}
footer{
 
 width: 100%;
 height: 50px;
}
.contenido-footer{
 background-color: rgb(247, 84, 9); 
 width: 100%;
 height: 40px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 color: rgb(20, 20, 20);
}
.contenido{
 margin: 0 50px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.icono{
 margin: 0 8px;
}

.opciones{ 
    list-style: none; 
    display: flex; 
    justify-content: center; 
} 

  